server:
  port: 8090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/prod_userRol_db
    username: postgres
    password: root
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect